.panel {
  width:100%; 
}
.panelHeading{
  display:flex;
  padding:1px 4px ;
  justify-content: space-between;
}
.panelBody{
  text-align: start;
  padding: 2px 1rem;
}
.hide{
  display:none;
}

.btn{
  padding:1;
  margin:1;
}
